html, body {
    margin: 20px;
}

.accordion{
  padding-left: 20px;
  border-top: 3px solid red;
  border-left: 3px solid red;
  
}
.title-view{
  border-top: 3px solid orange;
  border-left: 3px solid orange;
}
.node{
  border-top: 3px solid blue;
  border-left: 3px solid blue;
}
.active{
  display: block;
}
.hidden{
  display: none;
}
